@model IEnumerable<Stocktronic.Models.CarritoProductoJoin>

@{
    ViewBag.Title = "Carrito";
}

<head>
    <link href="~/Styles/carrito.css" rel="stylesheet" />
</head>

<body>
    @if (Model.Count() > 0)
    {
        <div class="container-fluid mb-5 header-top">
            <div class="row">
                <div class="col-md-10 col-11 mx-auto">
                    <div class="row mt-5 gx-4">


                        <!-- Left side -->
                        <div class="col-md-12 col-lg-8 col-10 mx-auto main-cart mb-lg-0 mb-5 shadow">
                            <h2 class="mt-4 ml-2 font-weight-bold">Cantidad de Artículos: </h2>

                            @foreach (var producto in Model)
                            {
                                <div class="cart p-4">
                                    <div class="row">
                                        <!-- Cart images -->
                                        <div class="col-md-5 col-11 mx-auto bg-light d-flex justify-content-center align-items-center product-img">
                                            <img src="@producto.PRO_URL_IMAGEN" class="img-fluid" alt="cart img" width="200" />
                                        </div>
                                        <!-- Cart product details -->
                                        <div class="col-md-7 col-11 mx-auto px-4 mt-2">
                                            <div class="row">
                                                <!-- Product name -->
                                                <div class="col-6 card-title">
                                                    <h1 class="mb-4 product-name">@producto.PRO_NOMBRE</h1>
                                                    <p class="mb-5">@producto.PRO_DESCRIPCION</p>
                                                    <br><br>
                                                </div>
                                                <!-- Quantity inc dec -->
                                                <div class="col-6">
                                                    <ul class="pagination justify-content-end set-quantity">
                                                        <li class="page-item border">
                                                            <button type="button" onclick="ReducirCantidad(@producto.ID_CARRITO, @producto.CAR_CANTIDAD)" class="page-link btnMinus">
                                                                <i class="fa fa-minus"></i>
                                                            </button>
                                                        </li>
                                                        <li class="page-item border">
                                                            <input class="page-link itemval" type="text" value="@producto.CAR_CANTIDAD" disabled />
                                                        </li>
                                                        <li class="page-item border">
                                                            <button type="button" onclick="AumentarCantidad(@producto.ID_CARRITO, @producto.CAR_CANTIDAD)" class="page-link btnPlus">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- Remove item and price -->
                                            <div class="row">
                                                <div class="col-8 d-flex justify-content-between remove">
                                                    <div class="product-links">
                                                        <button type="button" onclick="EliminarProducto(@producto.ID_CARRITO)" class="btnDelete">
                                                            <i class="fa fa-trash"></i> Eliminar Producto
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-4 d-flex justify-content-end price-money">
                                                    <h3>₡<span id="itemval">@producto.PRO_PRECIO</span></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                            }
                        </div>

                        <!-- Right side -->
                        <div class="col-md-12 col-lg-4 col-11 mx-auto mt-lg-0 mt-md-5">
                            <div class="rigth_side p-3 shadow bg-white">
                                <h2 class="product_name mb-4">Desgloce Factura:</h2>
                                @{decimal montoTotal = 0;}
                                @foreach (var producto in Model)
                                {
                                    <div class="price-indiv d-flex justify-content-between">
                                        <p>@producto.PRO_NOMBRE</p>
                                        <p>+ ₡<span>@producto.PRO_PRECIO</span></p>
                                    </div>
                                    montoTotal = montoTotal + producto.PRO_PRECIO;
                                }
                                <hr />
                                <div class="total-amt d-flex justify-content-between font-weight-bold">
                                    <p>Monto Total</p>
                                    <p>₡<span id="total_cart_amt">@montoTotal</span></p>
                                </div>
                                <a href="@Url.Action("Index", "Comprar", new { idUsuario = @Session["ID_USUARIO"] })">
                                    <button class="btn btn-primary text-uppercase">Comprar</button>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div id="outer" class="container">
            <div id="inner">
                <img class="img-responsive" src="~/Images/isotipoDark.svg" alt="logo" />
                <h1 class="text-center mt-3">Carrito de Compras</h1>
                <p class="text-center">No has agregado ningún artículo</p>
                <a class="d-flex justify-content-center fs" href="@Url.Action("Index", "Home")">Empecemos!</a>
            </div>
        </div>
    }

    <!-- Add sweetalert2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/Funciones/Carrito.js"></script>

</body>

