@model IEnumerable<Stocktronic.Models.OrdenesJoin>

@{
    ViewBag.Title = "Historial";
}

<head>
    <link href="~/Styles/historial.css" rel="stylesheet" />
    <link href="~/Styles/newFonts.css" rel="stylesheet" />
    <link href="~/Styles/modal.css" rel="stylesheet" />
    <!-- This link reference here is for the table pagination -->
    <link href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet'>
    <link href='https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css' rel='stylesheet'>
</head>

<body>
    @if (Model.Count() > 0)
    {
        <div class="container header-top">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mt-5">
                    <h2 class="heading-section">Historial de Compras</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table" id="tblHistorial">
                            <thead class="thead-dark">
                                <tr class="text-center">
                                    <th>#</th>
                                    <th>Método Pago</th>
                                    <th>Número Tarjeta</th>
                                    <th>Fec. Orden</th>
                                    <th>Monto Total</th>
                                    <th>Detalles Orden</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var orden in Model)
                                {
                                    <tr class="alert text-center" role="alert">
                                        <td scope="row" name="identificador">@orden.ID_ORDEN</td>
                                        <td>@orden.METP_NOMBRE</td>
                                        <td>@orden.PAG_NUM_TARJETA</td>
                                        <td>@orden.ORD_FEC_ORDEN</td>
                                        <td>₡@orden.ORD_MONTO_TOTAL</td>
                                        <td>
                                            <button data-id="@orden.ID_ORDEN" type="button" onclick="MostrarDetalles(@orden.ID_ORDEN)" class="btn btn-sm btnDetalles" data-toggle="modal" 
                                                    data-target="#modalDetalles">
                                                Detalles
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div id="outer" class="container mt-5">
            <div id="inner">
                <img class="img-responsive" src="../images/isotipoDark.svg" alt="logo" />
                <h1 class="text-center mt-3">Historial de Compras</h1>
                <p class="text-center">Aún no has realizado compras</p>
            </div>
        </div>
    }

    <!-- Modal -->
    <div class="modal fade" id="modalDetalles" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-body p-4 px-5">
                    <div class="main-content text-center">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Detalles de la Orden</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div>
                            <table class="table table-hover">
                                <thead>
                                    <tr class="text-center">
                                        <th>#</th>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                        <th>Imagen</th>
                                    </tr>
                                </thead>
                                <tbody id="display_rows">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Funciones/Ordenes.js"></script>

    <!-- Scripts for the table pagination -->
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

    <!-- Script for the buttons in general -->
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>

    <!-- This one is for the Excel button -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <!-- This two are for the PDF button -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

    <!-- This two are for the Print button -->
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>

</body>

